@use "./base";
@import "primeicons/primeicons.css";

:root {
  --primary-color: #ffffff;
  --secondary-color: #a3a3a3;
  --border-color: #efefef;
  --background-color: #f4f4fc;
  --label-color: #091932;
  --grayscale-color: #bbc1d2;
  --box-shadow-color: #05228838;
  --secondary-border-color: #7070706b;
  --shadow-card-color: #ededed;
  --card-bg: #ffffff;
  --text-primary-color: #333;
  --primary-bg: #091f44;
  --menu-item-color: #ffffff;
  --menu-item-active-color: #091932;
}

.dark-mode {
  --primary-color: #333333;
  --secondary-color: #a3a3a3;
  --border-color: #242424;
  --background-color: #1a1a1a;
  --label-color: #e0e0e0;
  --grayscale-color: #6c6c6c;
  --box-shadow-color: #ffffff1a;
  --secondary-border-color: #7070706b;
  --shadow-card-color: #0e0e0e;
  --card-bg: #1a1a1a;
  --text-primary-color: #a3a3a3;
  --primary-bg: #f9d628;
  --menu-item-color: #a3a3a3;
  --menu-item-active-color: #a3a3a3;
}

.icon-header,
.progress-container *,
.center-label {
  color: var(--text-primary-color) !important;
}
.highcharts-xaxis-labels text,
.highcharts-yaxis-labels text,
.highcharts-data-label text,
.highcharts-legend-item text,
.highcharts-yaxis text {
  fill: var(--text-primary-color) !important;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  color: var(--text-primary-color);
}

button {
  cursor: pointer;
}

.p-datepicker-trigger.p-button-icon-only {
  background-color: var(--primary-bg);
}

.dark-mode {
  @mixin animated-background() {
    background: linear-gradient(
      to right,
      #2a2a2a 8%,
      #303030 18%,
      #2a2a2a 33%
    ) !important;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbc1d2;
}

.p-button-icon {
  margin-right: 10px;
}

.buttons-container {
  display: block;
  border-bottom: 1px solid var(--primary-bg);
}
